@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth; /* Opcional: añade un desplazamiento suave */
  scroll-padding-top: 8rem; /* El alto de tu header (h-20 es 5rem) + un poco de margen */
}

@font-face {
  font-family: "adineue PRO";
  src: url(../public/fonts/adineue-PRO.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "adineue PRO Bold";
  src: url(../public/fonts/adineue-PRO-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(../public/fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {     @apply bg-bg dark:bg-bg-dark text-font-primary dark:text-font-primary-dark;
  }
}
@theme {
  --color-bg: #ffffff;
  --color-bg-dark: #1e1e1e;
  --color-bg-dark-secondary: #28282a;
  --container-8xl: 1440px;

  --color-font-primary: #111827;
  --color-font-secondary: #374151;

  --color-font-primary-dark: #f3f4f6;
  --color-font-secondary-dark: #e5e7eb;

  --color-link: #254ab6;

  --color-blue-primary: #3161dd;
  --color-blue-secondary: #528dff;

  --font-adineue: "adineue PRO", sans-serif;
  --font-adineue-bold: "adineue PRO Bold", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
